.core-concepts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.core-concepts__item {
  width: 10rem;
  text-align: center;
}

.core-concepts__image {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

.core-concepts__title {
  margin: 0.5rem 0;
}

.core-concepts__description {
  font-size: 0.9rem;
}
